# Logistic Regression Implementation from scratch

In [3]:
#Getting all the important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Exploring our dataset

In [4]:
cardio = pd.read_csv("cardio_train.csv", sep = ';')

We have a total of 11 input columns and 1 output column which represents whether the person has a Cardiovascular disease or not.
We have roughly 35000 entries for each classification so it is a balanced dataset. No more processing is required on it.

In [5]:
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [10]:
#Slitting the input and output columns
x = cardio[["age","gender","weight", "ap_hi","ap_lo","cholesterol","gluc","smoke","alco","active"]]
y = cardio["cardio"]

In [11]:
x.head()

     age  gender  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  alco  active
0  18393       2    62.0    110     80            1     1      0     0       1
1  20228       1    85.0    140     90            3     1      0     0       1
2  18857       1    64.0    130     70            3     1      0     0       0
3  17623       2    82.0    150    100            1     1      0     0       1
4  17474       1    56.0    100     60            1     1      0     0       0

In [14]:
X = x.values
Y = y.values

Defining helper functions for the aglorithm

In [8]:
def get_sigmoid(inp):
    return (1/(1+np.exp(-inp)))

In [9]:
def get_loss(y_hat, y):
    return np.sum(-y*(np.log(y_hat)) - (1-y)*np.log(1-y_hat))

In [ ]:
def train_logistic_regression(X,y):
    #setting an initial value for loss (a high value)
    loss = 1000
    while loss > 0.01: